!!! 5
html
  head
    title Puzzler
  body
    !{body}
    script(type="text/javascript", src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js")
    script(type="text/javascript", src="/js/site.js")